In [2]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /)
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [7]:
str="hello"
str.capitalize()

'Hello'

In [8]:
help(str.casefold)

Help on built-in function casefold:

casefold() method of builtins.str instance
    Return a version of the string suitable for caseless comparisons.

In [10]:
str="Hello"
str.casefold()

'hello'

In [11]:
help(str.center)

Help on built-in function center:

center(width, fillchar=' ', /) method of builtins.str instance
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [18]:
str="hello hanusha"
str.center(50)

'                  hello hanusha                   '

In [21]:
str="hello hanusha"
str.center(50,"h")

'hhhhhhhhhhhhhhhhhhhello hanushahhhhhhhhhhhhhhhhhhh'

In [19]:
help(str.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [22]:
help(str.format)

Help on built-in function format:

format(...) method of builtins.str instance
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [25]:
'length of {1} is {0}'.format(len(str),str)

'length of hello hanusha is 13'

In [26]:
'length of {arg1} is {arg0}'.format_args('arg1'len(str),'arg0':str)

SyntaxError: invalid syntax (<ipython-input-26-05c8e38e17be>, line 1)

In [27]:
help(str.maketrans)

Help on built-in function maketrans:

maketrans(x, y=None, z=None, /)
    Return a translation table usable for str.translate().

    If there is only one argument, it must be a dictionary mapping Unicode
    ordinals (integers) or characters to Unicode ordinals, strings or None.
    Character keys will be then converted to ordinals.
    If there are two arguments, they must be strings of equal length, and
    in the resulting dictionary, each character in x will be mapped to the
    character at the same position in y. If there is a third argument, it
    must be a string, whose characters will be mapped to None in the result.

In [46]:
s="hanusha"
s

'hanusha'

In [47]:
table=s.maketrans('hanusha','dhanush')
table

{104: 115, 97: 104, 110: 97, 117: 110, 115: 117}

In [48]:
s.translate(table)

'shanush'

In [45]:
help(str.translate)

Help on built-in function translate:

translate(table, /) method of builtins.str instance
    Replace each character in the string using the given translation table.

      table
        Translation table, which must be a mapping of Unicode ordinals to
        Unicode ordinals, strings, or None.

    The table must implement lookup/indexing via __getitem__, for instance a
    dictionary or list.  If this operation raises LookupError, the character is
    left untouched.  Characters mapped to None are deleted.

In [49]:
t=s.maketrans("hh","ds")
t

{104: 115}

In [51]:
ord('h')

104

In [52]:
ord("d")

100

In [53]:
ord("s")

115

In [ ]:
INPUT
number
firstname
lastname
mobilenumber




output-1
number
firstName
lastName
mobileNumber



Output-2
number
first_name
last_name
mobile_number

In [1]:
#Given all the individual scores 10 batsman using with their names
#print their rankings based on the scores
# Example:
    #hanusha : 50
    #deevi :100
    #sumanth :500
    #sana sudha : 300
    #siva prasad : 100
    #Pavan :20
    #badulla : 60
    
dic={"hanusha" : 50,"deevi" : 100,"sumanth" : 500, "sana sudha" : 30,"siva prasad" : 100,"Pavan" : 20,"badulla" : 60}
l=[]
count=0
a=list(set(dic.values()))
a=sorted(a, reverse =True)
print(a)
for i in a:
    for item in dic.items():
        if i==item[1]:
            count+=1
            print(count,item[0])

[500, 100, 60, 50, 30, 20]
1 sumanth
2 deevi
3 siva prasad
4 badulla
5 hanusha
6 sana sudha
7 Pavan

In [3]:
# Given two integers find out the common factors for 10 and 15 (use only 1 loop)
n1=int(input())
n2=int(input())
for i in range(1,100):
    if n1%i==0 and n2%i==0:
        print(i,end=" ")

10
5
1 5

In [8]:
#find the sum of n natural numbers
def sumnatural(start,end):
    sum=0
    for i in range(start,end+1,1):
        print(i,end=" ")
        if i<0:
            print("enter positive number")
        elif i>0:
            sum=sum+i
    print(sum)
        
start,end=map(int,input().split())
sumnatural(start,end)

1 10
1 2 3 4 5 6 7 8 9 10 55

In [14]:
# Display powers of 2 using anonymous function
terms=10
a=list(map(lambda x:2**x, range(terms+1)))
for i in range(terms):
    print(i,a[i])

0 1
1 2
2 4
3 8
4 16
5 32
6 64
7 128
8 256
9 512

In [15]:
#find numbers divisible by another number
#example: li=[2,3,4,567,67,23,22,45,44,46] divisible by another number example(2)
li=[2,3,4,567,67,23,22,45,44,46]
a=list(filter(lambda x: x%2==0, li))
print(a)

[2, 4, 22, 44, 46]

In [ ]:
li1=[]
a=list(map(int,input().split()))
li1.append(a)
for i in li1:
    if i[0]%2==0:
        print(i)