In [11]:
# interchange first and last element in a list
a=list(map(int,input().split()))
size=len(a)
print(size)
print(a)
temp=a[0]
a[0]=a[size-1]
a[size-1]=temp
print(a)

10 20 30 40 50 60 70
7
[10, 20, 30, 40, 50, 60, 70]
[70, 20, 30, 40, 50, 60, 10]

In [ ]:
# swap two elements in a list
b=list(map(int,input().split()))
print(b)
size=len(b)

## Dictionaries

In [38]:
d={'name':'python','rollno':123,'branch':'cse'}
d
#d=dic()

{'name': 'python', 'rollno': 123, 'branch': 'cse'}

In [14]:
d['name']

'python'

In [15]:
d['name'] = 'hanusha'

In [16]:
d['name']

'hanusha'

In [17]:
d

{'name': 'hanusha', 'rollno': 123, 'branch': 'cse'}

In [18]:
d['age']=23

In [19]:
d

{'name': 'hanusha', 'rollno': 123, 'branch': 'cse', 'age': 23}

In [20]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [24]:
d.setdefault('marks',100)
d

{'name': 'hanusha',
 'rollno': 123,
 'branch': 'cse',
 'age': 23,
 'maarks': 100,
 'marks': 100}

In [25]:
d.setdefault('marks',97)
d

{'name': 'hanusha',
 'rollno': 123,
 'branch': 'cse',
 'age': 23,
 'maarks': 100,
 'marks': 100}

In [26]:
d.pop('marks')

100

In [27]:
d

{'name': 'hanusha', 'rollno': 123, 'branch': 'cse', 'age': 23, 'maarks': 100}

In [28]:
d.pop('maarks')

100

In [29]:
d

{'name': 'hanusha', 'rollno': 123, 'branch': 'cse', 'age': 23}

In [31]:
d.setdefault("marks",95)

95

In [32]:
d.setdefault("marks",100)

95

In [39]:
d

{'name': 'python', 'rollno': 123, 'branch': 'cse'}

In [36]:
d1={'name':["rani",'deevi'],'rollno':[111,112]}
d1

{'name': ['rani', 'deevi'], 'rollno': [111, 112]}

In [40]:
d1['name'][1]

'deevi'

In [41]:
d2={'name':['hanusha','rani','deevi'],'rollno':[111,112,113]}
d2

{'name': ['hanusha', 'rani', 'deevi'], 'rollno': [111, 112, 113]}

In [42]:
d2.values()

dict_values([['hanusha', 'rani', 'deevi'], [111, 112, 113]])

In [43]:
d2.keys()

dict_keys(['name', 'rollno'])

In [46]:
len(d2.values())

2

In [55]:
len(d2['name'])

3

In [57]:
x=list(d2.values())
len(x[0])

3

In [58]:
len(list(d2.values())[0])

3

In [62]:
for i in range(len(d2['name'])):
    print("student "+str(i+1))

student 1
student 2
student 3

In [65]:
for i in range(len(d2['name'])):
    print("student",i+1,end=" ")
    print(d2['name'][i],d2['rollno'][i])

student 1 hanusha 111
student 2 rani 112
student 3 deevi 113

In [69]:
for i in range(d2['name']):
    type(name)

TypeError: 'list' object cannot be interpreted as an integer

In [73]:
for i,v in enumerate(d2['name']):
    print(i,v)

0 hanusha
1 rani
2 deevi

In [74]:
for i,v in enumerate(d2['name'],0):
    print(i,v)

0 hanusha
1 rani
2 deevi

In [75]:
d2.items()

dict_items([('name', ['hanusha', 'rani', 'deevi']), ('rollno', [111, 112, 113])])

In [78]:
marks={}.fromkeys(d2['name'],55)
marks

{'hanusha': 55, 'rani': 55, 'deevi': 55}

In [82]:
a=d2.get('name')
print(a)
b=d2.get('salary','not existed')
print(b)

['hanusha', 'rani', 'deevi']
not existed

In [96]:
# input --> sunil 55 65 ani abdul 78
#output --> {'sunil':'55','anil':'65','abdul':78}
i="sunil 55 65 ani abdul 78"
l=[]
n=[]
s=[]
d={}
for i in l:
    print(l)
    if i.isdigit():
        n.append(i)
    else:
        s.append(i)
for i in range(len(s)):
    d[s[i]]=int(n[i])
print(d)
    #s=list(map(str,input().split()))
#if s[1].isdigit():
    #print(s)

{}

In [100]:
int.__add__(4,5)

9

In [99]:
int.__sub__(20,10)

10

In [101]:
int.__sum__(20,10)

AttributeError: type object 'int' has no attribute '__sum__'

In [102]:
help(int.__add__)

Help on wrapper_descriptor:

__add__(self, value, /)
    Return self+value.

In [103]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [107]:
s="hanusha"
s.__len__()

7

In [109]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(int(x))

ValueError: invalid literal for int() with base 10: 'Sally'

In [118]:
print('helloworld'+"\n$#@&")

helloworld
$#@&

In [120]:
print(1+2+3)

6

In [121]:
22+23

45

In [122]:
print("hello","hi","hanusha")

hello hi hanusha

In [124]:
print("hanusha","\ngoodgirl")

hanusha
goodgirl

In [125]:
a=5
a

5

In [126]:
type(a)

int

In [127]:
type(5)

int

In [129]:
def add(a=5,b=6):
    return a+b
add(5,6)

11

In [131]:
def add(a,b=6):
    return a+b
add(5)

11

In [134]:
print("hi",end=" ")
print("hello")

hi hello

In [ ]:
38 40 33 20 76 EXIT 38 40 20 76 76

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']