## Problem Solving and Programming

### Day-2 


### Day Objectives:
* String Slicing
* Functions in python
* Basic Problems related to conditional statements using functions
* Iterations in Python
* Python Data Structures - Lists,Tuples and Dictionaries
        * Basic Operations on data structures
        * Applying data structures to solve problems

## String Slicing

In [1]:
s="String"

s[0] #Accessing starting character

type(s)

s[-1] #Accessing last character

s[len(s)-1] #Accessing by using len,get last character

s[-2] # Accessing the last but one character

s[0:2] # Accessing the first two characters of a string

s[-2:] # Accessing the last two characters of a string

s[:3] #Accessing the starting upto 3rd character

s[4:] #Accessing all characters 5th character to end of a string


# Accessing all characters except first and last character
n="hhello hanushaa"
n[1:14]
n[1:-1]


 #Accessing middle character in an odd length string
h ="hanusha"
h[len(h)//2]



# Reverse of a string
n1="hanusha"
print(n1[-1::-1]) 

print(n1[-1:0:-1]) #it doesn't display the starting character so we remove 0 in previous
#Reverse the middle two characters in an even length string
n1[-1:0:-2]
n1[len(n1)//2:len(n1)//2-2:-1]


# Accessing alternate characters in a string
   #python --> pto
a="python"
a[::2]
#Accessing alternate characters of a string in reverse of order
   #python --> nhy
print(a[-1:0:-2])
print(a[::-2])

ahsunah
ahsuna
nhy
nhy

### Functions

In [27]:
#function to reverse of a string
def reverseString(s):
    return s[::-1]
reverseString("python")

'nohtyp'

In [34]:
# Function to check if a string is a palindrome
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
palindrome("madam")
palindrome("m") # its true
palindrome("") #its true

True

In [44]:
# Function to check if a given year is a leap year
def isLeapYear(year):
    if (year%400==0 or (year%100!=0 and year%4==0)):
        return True
    return False

isLeapYear(2020)

True

In [51]:
# Function to count the number of digits in a given number
def noofdigits(s):
    return len(str(s))
noofdigits("hanusha")

7

In [48]:
# Function to identify the greatest of 4 numbers
def greatestoffour(a,b,c,d):
    if a>b and a>c and a>d:
        return (" a is bigger")
    elif b>c and b>d and b>a:
        return("b is greater")
    elif c>d and c>a and c>b:
        return ("c is greater")
    else:
        return("d is greater")
greatestoffour(10,60,100,40)

'c is greater'

## Iteration

* for 
* while

In [62]:
# FUnction to print n natural numbers using for loop
def natural(n):
    for i in range (1,n+1):
        print(i, end = " ")
    return
natural(50)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [89]:
#FUnction to print n natural numbers using while loop
def nnatural(n):
    i = 1
    while i<= n:
        print(i, end = " ")
        i=i+1
    return
nnatural(6)

1 2 3 4 5 6

In [ ]:
#function to print all numbers divisible  6 and not a factor of 100 (in range lb,ub) inclusive
def div(lb,ub,n):
    for i in range(lb,ub+1):
        if n%6==0 and 100%n!=0:
            print("divisible by 6 not a factor of 100",i)
    else:
        print(" divisible not factor",i)
div(100,200,30)

In [147]:
# Function to find the average of cubes of all even numbers in a given range (lb,ub) inclusive
# 1,10 --> 2,4,6,8,10 --> avg(2^3=8,64,216)
def avg(lb,ub):
    sum=0
    for i in range(lb,ub+1):
        if i%2==0:
            sum+=i**3
    return sum/(ub-lb)
avg(50,75)

129346.88

In [150]:
# Function to generate the list of factors for a given number
#12 --> 1 2 3 4 6 12
def fact(n):
    i=0
    for i in range(1,n//2+1):
        if n%i==0:
            print(i,end = " ")
    print(n)
    return
fact(12)

1 2 3 4 6 12

In [167]:
#FUnction to Calculate the factorial of a given number
def fact1(n):
    fact=1
    for i in range(2,n+1):
        fact *=i
    return fact
fact1(12)

479001600

In [159]:
#Function to check if a given number is Prime
def isPrime(n):
    flag = True
    for i in range(2,n//2):
        if n%i ==0:
            flag=False
            return flag
    return flag
isPrime(4)

True

In [160]:
#Function to calculate the average first N prime NUmbers
def isPrime1(n):
    primeCount=0
    sum=0
    seqCount=2
    while(primeCount < n):
        if isPrime(seqCount):
            primeCount+=1
            sum+=seqCount
        seqCount +=1
    return sum/n
isPrime1(10)

10.4

In [88]:
12/6

2.0

In [67]:
print(2 and 7)
print(7 and 10)
print(-7 and 6)
print(-5 and -6)
print(0 and 5)
print(5 and 0)

7
10
6
-6
0
0

In [70]:
print(2 or 7)
print(7 or 10)
print(-7 or 6)
print(-5 | -6)
print(0 or 5)
print(5 or 0)

2
7
-7
-5
5
5

In [77]:
print(True + True)
print(True + False)
print(False + False)
print(False + True)

2
1
0
1

In [80]:
"good"+"morning"
"g"*3
3*"g"

'ggg'

In [87]:
if 1:
    print("zero")
else:
    print("not a zero")

zero

In [86]:
i=0
while 0:
    print(i)
    i=i+1

In [50]:
for i in range (12,12):
    print(i)# it doesn't display any value as output
for i in range(12,13):
    print(i)

12

## Some basic problems on 13 June

In [1]:
#Function to print alternate values in a range in the same line
def alternate(start,end):
    for i in range(start,end+1,2):
        print(i,end= " ")
    return
alternate(100,150)

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150

In [4]:
#Functions to print reverse of given range in the inclusive
#(500,100) -->
#[50,100] -->
def reverse(start,end):
    for i in range(end,start-1,-2):
        print(i,end=" ")
    return
reverse(50,100)

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50

In [6]:
#Functions to print the odd numbers with in a range
def odd(start,end):
    for i in range(start,end+1):
        if i%2!=0:
            print(i, end = " ")
    return
odd(1,9)

1 3 5 7 9

In [18]:
#Functions to print the odd numbers with in a range in reverse order
def oddreverse(start,end):
    for i in range(end,start-1,-1):
        if i%2!=0:
            print(i,end=" ")
    return
oddreverse(1,9)

9 7 5 3 1

In [20]:
#Function to calculate the sum of numbers in a range
def sumofnumbers(start,end):
    sum=0
    for i in range(start,end+1):
        sum=sum+i
    return sum
sumofnumbers(1,5)

15

In [24]:
#Function to average of a given range
def sum_average(start,end):
    sum=0
    diff=end-start+1
    for i in range(start,end+1):
        sum=sum+i
    return sum/diff
sum_average(1,5)

3.0

In [32]:
# Function to generate all leap years in a given range
def all_leapyears(start,end):
    for year in range(start,end+1):
        if year%400==0 or (year%100!=0 and year%4==0):
            print(year,end=" ")
    return
all_leapyears(2000,2010)

2000 2004 2008

In [58]:
#Number of days in a time period
def numberofdays(startyear,endyear):
    diff=0
    for year in range(startyear,endyear+1,1):
        if year%400==0 or (year%100!=0 and year%4==0):
            diff=diff+366
        else:
            diff=diff+365
    return diff

all_leapyears(2017,2018)

730

In [63]:
#Function to calculate number of hours for a given range
#number of hours(5,2019,6,2019)
#Num of hours=24 * Number of days
#2,2016,6,2019
#   [all days from feb 2016 to dec 2016
#    all days for years between 2016+1 and 2019-1,
#     all days from jan to june 2019]
#3 steps:
        #start month year to end of year - Calculate no of
        #Calculate days for all years between start year
            #2017,2018 - 365 *no of years
        #calculate days from jan to end month year
#Excluding febuary
# First Six months -1,3,4,5,6,7
        #All odd months have 31 days
        #All even numbers have 30 days
# Last Six Months - 8,9,10,11,12
        #All even months have 31 days
        #all odd months have 30 days
# 31 days -- (month<=7 and month%!=2) // (month<=12)
       #         return 31
      #  else
       #         return 30
def numofmonth(month,year):
    if month ==2:
        if year%400==0 or (year%100!=0 and year%4==0):
            return 29
        return 28
    elif (month <=7 and month %2!=0) or (month >=12):
        return 31
    else:
        return 30
numofmonth(4,2019)





#step 1

def daysInStartYear(startmonth,startyear):
    days=0
    for month in range(startmonth,13):
        days +=numofmonth(month,startyear)
    return days


#End year
def daysInEndYear(endmonth,endyear):
    days=0
    for month in range(1,endmonth+1):
        days +=numofmonth(month,endyear)
    return days




def numberofhours(startmonth,startyear,endmonth,endyear):
    days=0
    days += daysInStartYear(startmonth,startyear)
    days += daysInEndYear(endmonth,endyear)
    if endyear - startyear ==2:
        days += numberofdays(startyear+1,startyear+1)
    elif endyear-startyear >= 2:
        days += numberofdays(startyear+1,endyear-1)
    else:
        for month in range(startmonth,endmonth):
            days +=numofmonth(month,startyear)
    return 24*days
numberofhours(11,1975,3,1995)

170184